<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Tailwind Config</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-html.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <script type="module" src="../js/main.js"></script>
    <link href="../styles/styles.css" rel="stylesheet">

</head>

<body class="text-secondary-900 bg-secondary-50">

    <!-- Header -->
    <header id="header">
    </header>

    <!-- Main Layout -->
    <div class="grid grid-cols-1 pt-20 mx-auto mb-4 md:px-6 max-w-7xl lg:grid-cols-12">

        <!-- Sidebar Left -->
        <aside id="menu"
            class="hidden lg:block lg:col-span-2 rounded-l-lg bg-white p-4 sticky top-20 h-[calc(100vh-5rem)] overflow-auto">
        </aside>

        <!-- Main Content -->
        <main class="col-span-1 p-6 bg-white lg:col-span-8">

            <header class="mb-12">
                <h1 class="text-4xl font-bold">Breadcrumbs</h1>
                <p class="mt-4 text-secondary-600 text-md">Las migas de pan sirven como una ayuda visual eficaz,
                    indicando la
                    ubicación del usuario dentro de la jerarquía del
                    sitio web, lo que las convierte en una gran fuente de información contextual para las páginas de
                    destino. Además, las
                    migas de pan facilitan la navegación a páginas de nivel superior.</p>
            </header>

            <section id="simple-breadcrumb">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Breadcrumb básico</h2>
                        <p class="mb-8 text-secondary-600 text-md">Utilice este botón versátil que viene con fondo azul
                            y
                            texto
                            blanco, esquinas
                            redondeadas y un efecto
                            de sombra al pasar el mouse, mostrando interactividad.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="inline-flex flex-col items-center">

                                <ol class="flex items-center whitespace-nowrap">
                                    <li class="inline-flex items-center">
                                        <a class="btn-link text-secondary-500" href="#">
                                            Inicio
                                        </a>
                                        <svg class="mx-2 text-secondary-400 shrink-0 size-4 "
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m9 18 6-6-6-6"></path>
                                        </svg>
                                    </li>
                                    <li class="inline-flex items-center">
                                        <a class="btn-link text-secondary-500" href="#">
                                            Centro de aplicaciones
                                            <svg class="mx-2 text-secondary-400 shrink-0 size-4 "
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m9 18 6-6-6-6"></path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="inline-flex items-center text-sm font-semibold truncate text-primary-700 "
                                        aria-current="page">
                                        Aplicaciones
                                    </li>
                                </ol>
                            </div>

                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white rounded-b-lg bg-secondary-900 ">
                        <code class="language-html">
&lt;ol class="flex items-center whitespace-nowrap"&gt;
    &lt;li class="inline-flex items-center"&gt;
        &lt;a class="flex items-center text-sm text-secondary-500 hover:text-primary-600 focus:outline-none focus:text-primary-600"
            href="#"&gt;
            Inicio
        &lt;/a&gt;
        &lt;svg class="mx-2 text-secondary-400 shrink-0 size-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"&gt;
            &lt;path d="m9 18 6-6-6-6"&gt;&lt;/path&gt;
        &lt;/svg&gt;
    &lt;/li&gt;
    &lt;li class="inline-flex items-center"&gt;
        &lt;a class="flex items-center text-sm text-secondary-500 hover:text-primary-600 focus:outline-none focus:text-primary-600"
            href="#"&gt;
            Centro de aplicaciones
            &lt;svg class="mx-2 text-secondary-400 shrink-0 size-4 " xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"&gt;
                &lt;path d="m9 18 6-6-6-6"&gt;&lt;/path&gt;
            &lt;/svg&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="inline-flex items-center text-sm font-semibold truncate text-primary-700 " aria-current="page"&gt;
        Aplicaciones
    &lt;/li&gt;
&lt;/ol&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="breadcrumb-icon">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Breadcrumb con ícono</h2>
                        <p class="mb-8 text-secondary-600 text-md">Puede agregar cualquier tipo de ícono para el
                            componente
                            de breadcrumbs tan fácilmente como se usan en HTML.</p>
                        <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

                            <ol class="flex items-center whitespace-nowrap">
                                <li class="inline-flex items-center">
                                    <a class="flex items-center text-sm text-secondary-500 hover:text-primary-600 focus:outline-none focus:text-primary-600 "
                                        href="#">
                                        <svg class="shrink-0 me-3 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                        </svg>
                                        <span class="sr-only">Inicio</span>
                                    </a>
                                    <svg class="mx-2 text-secondary-400 shrink-0 size-4"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="m9 18 6-6-6-6"></path>
                                    </svg>
                                </li>
                                <li class="inline-flex items-center">
                                    <a class="flex items-center text-sm text-secondary-500 hover:text-primary-600 focus:outline-none focus:text-primary-600"
                                        href="#">
                                        Centro de aplicaciones
                                        <svg class="mx-2 text-secondary-400 shrink-0 size-4"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m9 18 6-6-6-6"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li class="inline-flex items-center text-sm font-semibold truncate text-primary-700 "
                                    aria-current="page">
                                    Aplicaciones
                                </li>
                            </ol>

                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white rounded-b-lg bg-secondary-900 ">
                        <code class="language-html">
&lt;ol class="flex items-center whitespace-nowrap"&gt;
    &lt;li class="inline-flex items-center"&gt;
        &lt;a class="flex items-center text-sm text-secondary-500 hover:text-primary-600 focus:outline-none focus:text-primary-600 "
            href="#"&gt;
            &lt;svg class="shrink-0 me-3 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"&gt;
                &lt;path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"&gt;&lt;/path&gt;
                &lt;polyline points="9 22 9 12 15 12 15 22"&gt;&lt;/polyline&gt;
            &lt;/svg&gt;
            &lt;span class="sr-only"&gt;Inicio&lt;/span&gt;
        &lt;/a&gt;
        &lt;svg class="mx-2 text-secondary-400 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round"&gt;
            &lt;path d="m9 18 6-6-6-6"&gt;&lt;/path&gt;
        &lt;/svg&gt;
    &lt;/li&gt;
    &lt;li class="inline-flex items-center"&gt;
        &lt;a class="flex items-center text-sm text-secondary-500 hover:text-primary-600 focus:outline-none focus:text-primary-600"
            href="#"&gt;
            Centro de aplicaciones
            &lt;svg class="mx-2 text-secondary-400 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"&gt;
                &lt;path d="m9 18 6-6-6-6"&gt;&lt;/path&gt;
            &lt;/svg&gt;
        &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="inline-flex items-center text-sm font-semibold truncate text-primary-700 " aria-current="page"&gt;
        Aplicaciones
    &lt;/li&gt;
&lt;/ol&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="breadcrumb-block">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Breadcrumb a nivel de bloque</h2>
                        <p class="mb-8 text-secondary-600 text-md">Breadcrumb puede ser un componente a nivel de bloque
                            que
                            obtiene todo el espacio disponible en una fila. Puede mostrar los breadcrumbs como un
                            elemento a nivel de bloque utilizando la clase <code>w-full</code>.</p>
                        <div class="flex flex-col items-center justify-center w-full gap-4 mb-4">

                            <ol class="flex items-center w-full p-2 border-secondary-200 whitespace-nowrap border-y">
                                <li class="inline-flex items-center">
                                    <a class="flex items-center text-sm text-secondary-500 hover:text-secondary-600 focus:outline-none focus:text-secondary-600"
                                        href="#">
                                        <svg class="shrink-0 me-3 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                        </svg>
                                        <span class="sr-only">Inicio</span>
                                    </a>
                                    <svg class="mx-2 text-secondary-400 shrink-0 size-4 "
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="m9 18 6-6-6-6"></path>
                                    </svg>
                                </li>
                                <li class="inline-flex items-center">
                                    <a class="flex items-center text-sm text-secondary-500 hover:text-secondary-600 focus:outline-none focus:text-secondary-600"
                                        href="#">
                                        Centro de aplicaciones
                                        <svg class="mx-2 text-secondary-400 shrink-0 size-4 "
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m9 18 6-6-6-6"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li class="inline-flex items-center text-sm font-semibold truncate text-primary-700 "
                                    aria-current="page">
                                    Aplicaciones
                                </li>
                            </ol>

                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white rounded-b-lg bg-secondary-900 ">
                        <code class="language-html">    
&lt;nav aria-label="breadcrumb" class="w-full"&gt;
    &lt;ol class="flex flex-wrap items-center w-full px-4 py-2 rounded-md bg-secondary-50"&gt;
        &lt;li
            class="flex items-center text-sm transition-colors duration-300 cursor-pointer text-secondary-500 hover:text-secondary-800"&gt;
            &lt;a href="#"&gt;Documentos&lt;/a&gt;
            &lt;span class="mx-2 pointer-events-none text-secondary-800"&gt;
                /
            &lt;/span&gt;
        &lt;/li&gt;
        &lt;li
            class="flex items-center text-sm transition-colors duration-300 cursor-pointer text-secondary-500 hover:text-secondary-800"&gt;
            &lt;a href="#"&gt;Componentes&lt;/a&gt;
            &lt;span class="mx-2 pointer-events-none text-secondary-800"&gt;
                /
            &lt;/span&gt;
        &lt;/li&gt;
        &lt;li
            class="flex items-center text-sm transition-colors duration-300 cursor-pointer text-secondary-500 hover:text-secondary-800"&gt;
            &lt;a href="#"&gt;Breadcrumbs&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ol&gt;
&lt;/nav&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="breadcrumb-static">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Botón estático 'Más'</h2>
                        <p class="mb-8 text-secondary-600 text-md">Agregue un ícono para indicar que hay más enlaces,
                            pero este ícono será estático.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="inline-flex flex-col items-center">

                                <ol class="flex items-center whitespace-nowrap">
                                    <li class="inline-flex items-center">
                                        <a class="btn-link text-secondary-500" href="#">
                                            Inicio
                                        </a>
                                        <svg class="mx-2 text-secondary-400 shrink-0 size-4"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path d="m9 18 6-6-6-6"></path>
                                        </svg>
                                    </li>
                                    <li class="text-sm">
                                        <div class="flex items-center text-secondary-500">
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                            <svg class="mx-2 text-secondary-400 shrink-0 size-4"
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m9 18 6-6-6-6"></path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li class="inline-flex items-center text-sm font-semibold truncate text-primary-700"
                                        aria-current="page">
                                        Aplicaciones
                                    </li>
                                </ol>

                            </div>

                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white rounded-b-lg bg-secondary-900 ">
                        <code class="language-html">
    &lt;ol class="flex items-center whitespace-nowrap"&gt;
        &lt;li class="inline-flex items-center"&gt;
            &lt;a class="btn-link text-secondary-500" href="#"&gt;
                Inicio
            &lt;/a&gt;
            &lt;svg class="mx-2 text-secondary-400 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"&gt;
                &lt;path d="m9 18 6-6-6-6"&gt;&lt;/path&gt;
            &lt;/svg&gt;
        &lt;/li&gt;
        &lt;li class="text-sm"&gt;
            &lt;div class="flex items-center text-secondary-500"&gt;
                &lt;svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"&gt;
                    &lt;circle cx="12" cy="12" r="1"&gt;&lt;/circle&gt;
                    &lt;circle cx="19" cy="12" r="1"&gt;&lt;/circle&gt;
                    &lt;circle cx="5" cy="12" r="1"&gt;&lt;/circle&gt;
                &lt;/svg&gt;
                &lt;svg class="mx-2 text-secondary-400 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"&gt;
                    &lt;path d="m9 18 6-6-6-6"&gt;&lt;/path&gt;
                &lt;/svg&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li class="inline-flex items-center text-sm font-semibold truncate text-primary-700" aria-current="page"&gt;
            Aplicaciones
        &lt;/li&gt;
    &lt;/ol&gt;
                        </code>
                    </pre>

                </div>
            </section>

        </main>

        <!-- Sidebar Right -->
        <aside
            class="hidden lg:block col-span-2 bg-white rounded-r-lg p-4 sticky top-20 h-[calc(100vh-5rem)] overflow-auto">
            <h2 class="mb-4 text-sm font-bold">En esta página</h2>
            <ul class="space-y-2 text-sm">
                <li><a href="#simple-breadcrumb" class="block pb-1 btn-link">Breadcrumb básico</a></li>
                <li><a href="#breadcrumb-icon" class="block pb-1 btn-link">Breadcrumb con ícono</a></li>
                <li><a href="#breadcrumb-block" class="block pb-1 btn-link">Breadcrumb a nivel de bloque</a></li>
                <li><a href="#breadcrumb-static" class="block pb-1 btn-link">Botón estático 'Más'</a></li>
            </ul>
        </aside>

    </div>

    <footer id="footer"></footer>
    <script type="module" src="../js/load-components.js"></script>

</body>

</html>