<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Tailwind Config</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-html.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <script type="module" src="../js/main.js"></script>
    <link href="../styles/styles.css" rel="stylesheet">

</head>

<body class="text-gray-900 bg-gray-50">

    <!-- Header -->
    <header id="header">
    </header>

    <!-- Main Layout -->
    <div class="grid grid-cols-1 pt-20 mx-auto mb-4 md:px-6 max-w-7xl lg:grid-cols-12">

        <!-- Sidebar Left -->
        <aside id="menu"
            class="hidden lg:block lg:col-span-2 rounded-l-lg bg-white p-4 sticky top-20 h-[calc(100vh-5rem)] overflow-auto">
        </aside>

        <!-- Main Content -->
        <main class="col-span-1 p-6 bg-white lg:col-span-8">

            <header class="mb-12">
                <h1 class="text-4xl font-bold">Inputs</h1>
                <p class="mt-4 text-gray-600 text-md">Los campos de entrada permiten a los usuarios introducir texto
                    en
                    una interfaz de usuario. Suelen aparecer en
                    formularios y cuadros de diálogo. Los campos de entrada en móviles deben tener un tamaño de
                    texto de
                    al menos 16px para evitar el zoom automático en los navegadores móviles.</p>
            </header>

            <section id="simple-button">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Input simple</h2>
                        <p class="mb-8 text-gray-600 text-md">Utilice este ejemplo de "input" para comenzar fácilmente.
                            Es
                            perfecto para formularios que requieren la entrada de
                            texto, como el registro de usuarios, formularios de inicio de sesión o cualquier formulario
                            en
                            el que los usuarios
                            necesiten ingresar un nombre de usuario.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="w-full max-w-sm min-w-[200px]">
                                <input class="input-default" placeholder="Escribir aquí..." />
                            </div>
                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;input class="input" placeholder="Escribir aquí..." /&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="input-with-label">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Input con label</h2>
                        <p class="mb-8 text-gray-600 text-md">Utilice este ejemplo de "input" con el texto de
                            marcador de
                            posición «Escribir aquí», guiando al usuario para que
                            introduzca su nombre. La etiqueta se coloca encima del campo de entrada para obtener
                            claridad
                            sobre qué información se
                            requiere.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="w-full max-w-sm min-w-[200px]">
                                <label class="block mb-1 text-sm text-secondary-600">
                                    Label
                                </label>
                                <input class="input" placeholder="Escribir aquí..." />
                            </div>
                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;label class="label-input"&gt;Label&lt;/label&gt;
&lt;input class="input" placeholder="Escribir aquí..." /&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="input-with-hint-text">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Input con label y texto de ayuda</h2>
                        <p class="mb-8 text-gray-600 text-md">Utilice este botón versátil que viene con fondo azul y
                            texto
                            blanco, esquinas redondeadas y un efecto
                            de sombra al pasar el mouse, mostrando interactividad.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="w-full max-w-sm min-w-[200px]">
                                <label class="label-input">
                                    Label
                                </label>
                                <input class="input" placeholder="Escribir aquí..." />
                                <p class="hint-text">Este es un texto de ayuda para el
                                    usuario.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;label class="label-input"&gt;Label&lt;/label&gt;
    &lt;input class="input" placeholder="Escribir aquí..." /&gt;
&lt;p class="hint-text"&gt;Este es un texto de ayuda para el usuario.&lt;/p&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="input-interactive">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Input con label interactivo</h2>
                        <p class="mb-8 text-gray-600 text-md">Utilice este botón versátil que viene con fondo azul y
                            texto
                            blanco, esquinas
                            redondeadas y un efecto
                            de sombra al pasar el mouse, mostrando interactividad.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="w-full max-w-sm min-w-[200px]">
                                <div class="relative">
                                    <input id="input-field" class="input-interactive peer" type="text"
                                        placeholder=" " />
                                    <label for="input-field" class="label-interactive">
                                        Escribir aquí...
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;div class="relative"&gt;
    &lt;input class="input-interactive peer" placeholder="" /&gt;
    &lt;label class="label-input"&gt;Escribir aquí...&lt;/label&gt;
&lt;/div&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="input-icon">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-2 text-xl font-semibold">Input con icono</h2>
                        <p class="mb-8 text-gray-600 text-md">Utilice este ejemplo de input con elemento de icono si
                            desea agregar un toque amigable y hacerlo más interactivo.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="w-full max-w-sm min-w-[200px]">

                                <div class="relative">
                                    <input type="text"
                                        class="w-full py-2 pl-3 pr-10 text-sm transition duration-300 bg-transparent border rounded-md shadow-sm placeholder:text-slate-400 text-slate-600 border-slate-200 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 focus:shadow"
                                        placeholder="Escribe aquí..." />

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="absolute w-5 h-5 top-2.5 right-2.5 text-slate-600">
                                        <path
                                            d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z">
                                        </path>
                                    </svg>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;div class="relative"&gt;
    &lt;input type="text"
        class="w-full py-2 pl-3 pr-10 text-sm transition duration-300 bg-transparent border rounded-md shadow-sm placeholder:text-slate-400 text-slate-600 border-slate-200 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 focus:shadow"
        placeholder="Type here..." /&gt;

    &lt;svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="absolute w-5 h-5 top-2.5 right-2.5 text-slate-600"&gt;
        &lt;path
            d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z"&gt;
        &lt;/path&gt;
    &lt;/svg&gt;
&lt;/div&gt;
                        </code>
                    </pre>

                </div>
            </section>

        </main>

        <!-- Sidebar Right -->
        <aside
            class="hidden lg:block col-span-2 bg-white rounded-r-lg p-4 sticky top-20 h-[calc(100vh-5rem)] overflow-auto">
            <h2 class="mb-4 text-sm font-bold">En esta página</h2>
            <ul class="space-y-2 text-sm">
                <li><a href="#simple-input" class="block pb-1 btn-link">Input simple</a></li>
                <li><a href="#input-with-label" class="block pb-1 btn-link">input con label</a></li>
                <li><a href="#input-with-hint-text" class="block pb-1 btn-link">Inputs con texto de ayuda</a></li>
                <li><a href="#input-interactive" class="block pb-1 btn-link">Input con label interactivo</a></li>
                <li><a href="#input-icon" class="block pb-1 btn-link">Input con iconos</a></li>
            </ul>
        </aside>

    </div>

    <footer id="footer"></footer>
    <script type="module" src="../js/load-components.js"></script>

</body>

</html>