<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Tailwind Config</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-html.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css">
    <script type="module" src="../js/main.js"></script>
    <link href="../styles/styles.css" rel="stylesheet">

</head>

<body class="text-gray-900 bg-gray-50">

    <!-- Header -->
    <header id="header">
    </header>

    <!-- Main Layout -->
    <div class="grid grid-cols-1 pt-20 mx-auto mb-4 md:px-6 max-w-7xl lg:grid-cols-12">

        <!-- Sidebar Left -->
        <aside id="menu"
            class="hidden lg:block lg:col-span-2 rounded-l-lg bg-white p-4 sticky top-20 h-[calc(100vh-5rem)] overflow-auto">
        </aside>

        <!-- Main Content -->
        <main class="col-span-1 p-6 bg-white lg:col-span-8">

            <header class="mb-12">
                <h1 class="text-4xl font-bold">Textarea</h1>
                <p class="mt-4 text-gray-600 text-md">Un "textarea" es un elemento de una página web en el que puedes
                    escribir.</p>
            </header>

            <section id="placeholder">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-1 text-xl font-semibold">Placeholder</h2>
                        <p class="mb-8 text-gray-600 text-md">Ejemplo de textarea básico con placeholder.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="max-w-sm space-y-3 w-full min-w-[200px]">
                                <textarea
                                    class="block w-full px-4 py-3 text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none "
                                    rows="3" placeholder="Escribe un comentario..."></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;div class="max-w-sm space-y-3 w-full min-w-[200px]"&gt;
    &lt;textarea
        class="block w-full px-4 py-3 text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none "
        rows="3" placeholder="Escribe un comentario..."&gt;&lt;/textarea&gt;
&lt;/div&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="label">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-1 text-xl font-semibold">Etiqueta</h2>
                        <p class="mb-8 text-gray-600 text-md">Ejemplo de entrada básica con etiqueta.</p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="max-w-sm w-full min-w-[200px]">
                                <label for="textarea-label" class="label-input">Comentario</label>
                                <textarea id="textarea-label"
                                    class="block w-full px-4 py-3 text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                    rows="3" placeholder="Escribe un comentario..."></textarea>
                            </div>

                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;div class="max-w-sm w-full min-w-[200px]"&gt;
    &lt;label for="textarea-label" class="label-input"&gt;Comentario&lt;/label&gt;
    &lt;textarea id="textarea-label"
        class="block w-full px-4 py-3 text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
        rows="3" placeholder="Escribe un comentario..."&gt;&lt;/textarea&gt;
&lt;/div&gt;
                        </code>
                    </pre>

                </div>
            </section>

            <section id="floating-label">
                <div
                    class="grid min-h-[140px] w-full place-items-left overflow-x-scroll rounded-lg lg:overflow-visible border mb-14">
                    <div class="p-4 pb-4">
                        <h2 class="mb-1 text-xl font-semibold">Placeholder</h2>
                        <p class="mb-8 text-gray-600 text-md">Se requiere un marcador de posición en cada uno de ellos,
                            <code class="code">input</code> ya que nuestro método utiliza elpseudoelemento
                            <code class="code">:placeholder-shown</code>. Tenga en cuenta también que el <code
                                class="code">input</code> debe aparecer
                            primero para que podamos utilizar
                            un selector de hermanos (por ejemplo, ~).
                        </p>
                        <div class="flex items-center justify-center w-full gap-4 mb-4">

                            <div class="max-w-sm space-y-3 w-full min-w-[200px]">
                                <div class="relative">
                                    <textarea id="hs-floating-textarea" class="peer p-4 block w-full border-gray-200 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none 
                                            focus:pt-6
                                            focus:pb-2
                                            [&:not(:placeholder-shown)]:pt-6
                                            [&:not(:placeholder-shown)]:pb-2
                                            autofill:pt-6
                                            autofill:pb-2" placeholder="This is a textarea placeholder"
                                        data-hs-textarea-auto-height=""></textarea>
                                    <label for="hs-floating-textarea"
                                        class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none
                                            peer-focus:text-xs
                                            peer-focus:-translate-y-1.5
                                            peer-focus:text-gray-500 dark:peer-focus:text-neutral-500
                                            peer-[:not(:placeholder-shown)]:text-xs
                                            peer-[:not(:placeholder-shown)]:-translate-y-1.5
                                            peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-neutral-500 ">Escribe
                                        un comentario...</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Código -->
                    <pre class="p-4 pl-4 overflow-auto text-white bg-gray-900 rounded-b-lg ">
                        <code class="language-html">
&lt;div class="relative">
    &lt;textarea id="hs-floating-textarea" class="peer p-4 block w-full border-gray-200 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none 
            focus:pt-6
            focus:pb-2
            [&:not(:placeholder-shown)]:pt-6
            [&:not(:placeholder-shown)]:pb-2
            autofill:pt-6
            autofill:pb-2" placeholder="This is a textarea placeholder"
        data-hs-textarea-auto-height=""&gt;&lt;/textarea&gt;
    &lt;label for="hs-floating-textarea"
        class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none
            peer-focus:text-xs
            peer-focus:-translate-y-1.5
            peer-focus:text-gray-500 dark:peer-focus:text-neutral-500
            peer-[:not(:placeholder-shown)]:text-xs
            peer-[:not(:placeholder-shown)]:-translate-y-1.5
            peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-neutral-500 "&gt;
            Escribe un comentario...
    &lt;/label&gt;
&lt;/div&gt;
                        </code>
                    </pre>

                </div>
            </section>


        </main>

        <!-- Sidebar Right -->
        <aside
            class="hidden lg:block col-span-2 bg-white rounded-r-lg p-4 sticky top-20 h-[calc(100vh-5rem)] overflow-auto">
            <h2 class="mb-4 text-sm font-bold">En esta página</h2>
            <ul class="space-y-2 text-sm">
                <li><a href="#placeholder" class="block pb-1 btn-link">Input simple</a></li>
                <li><a href="#label" class="block pb-1 btn-link">Placeholder</a></li>
                <li><a href="#floating-label" class="block pb-1 btn-link">Etiqueta flotante</a></li>
            </ul>
        </aside>

    </div>

    <footer id="footer"></footer>
    <script type="module" src="../js/load-components.js"></script>

</body>

</html>