<!-- Header -->
<header class="fixed z-10 w-full bg-white shadow">
    <div class="flex items-center justify-between px-6 py-4 mx-auto max-w-7xl">
        <h1 class="text-lg font-semibold"><a href="/">Cygnus UI Kit</a></h1>
        <!-- <nav>
            <ul class="hidden space-x-4 text-sm font-medium md:flex">
                <li><a href="#getting-started" class="hover:text-blue-500">Primeros pasos</a></li>
                <li><a href="#components" class="hover:text-blue-500">Componentes</a></li>
                <li><a href="#customization" class="hover:text-blue-500">Personalización</a></li>
            </ul>
        </nav> -->
    </div>
</header>