<!-- Sidebar Left -->
<div class="p-2 max-h-[80vh] overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
    <h2 class="mb-2 text-sm font-bold">Base</h2>
    <ul class="space-y-2 text-sm">
        <li><a href="/src/base/colors.html" class="block pb-1 btn-link">Colores</a></li>
        <li><a href="/src/base/typography.html" class="block pb-1 btn-link">Tipografía</a></li>
    </ul>

    <h2 class="mt-6 mb-2 text-sm font-bold">Documentación</h2>
    <ul class="space-y-2 text-sm">
        <li><a href="/src/base/installation.html" class="block pb-1 btn-link">Instalación</a></li>
        <li><a href="/src/base/svg.html" class="block pb-1 btn-link">Uso de SVG</a></li>
    </ul>

    <h2 class="mt-6 mb-2 text-sm font-bold">Componentes</h2>
    <ul class="space-y-2 text-sm">
        <li><a href="/src/components/acordion.html" class="block pb-1 btn-link">Acordeón</a></li>
        <li><a href="/src/components/alerts.html" class="block pb-1 btn-link">Alertas</a></li>
        <li><a href="/src/components/badges.html" class="block pb-1 btn-link">Badges</a></li>
        <li><a href="/src/components/buttons.html" class="block pb-1 btn-link">Botones</a></li>
        <li><a href="/src/components/buttons-icons.html" class="block pb-1 btn-link">Botones con iconos</a></li>
        <li><a href="/src/components/breadcrumbs.html" class="block pb-1 btn-link">Breadcrumbs</a></li>
        <li><a href="/src/components/cards.html" class="block pb-1 btn-link">Cards</a></li>
        <li><a href="/src/components/collapse.html" class="block pb-1 btn-link">Colapsable</a></li>
        <li><a href="/src/components/buttons-group.html" class="block pb-1 btn-link">Grupos de botones</a></li>
        <li><a href="/src/components/checkboxes.html" class="block pb-1 btn-link">Checkboxes</a></li>
        <li><a href="/src/components/dropdown.html" class="block pb-1 btn-link">Dropdown</a></li>
        <li><a href="/src/components/inputs.html" class="block pb-1 btn-link">Inputs</a></li>
        <li><a href="/src/components/lists.html" class="block pb-1 btn-link">Listas</a></li>
        <li><a href="/src/components/miscelaneous.html" class="block pb-1 btn-link">Misceláneos</a></li>
        <li><a href="/src/components/modals.html" class="block pb-1 btn-link">Modales</a></li>
        <li><a href="/src/components/select.html" class="block pb-1 btn-link">Selectores</a></li>
        <li><a href="/src/components/popovers.html" class="block pb-1 btn-link">Popovers</a></li>
        <li><a href="/src/components/tabs.html" class="block pb-1 btn-link">Pestañas</a></li>
        <li><a href="/src/components/radiobuttons.html" class="block pb-1 btn-link">Radiobuttons</a></li>
        <li><a href="/src/components/select-search.html" class="block pb-1 btn-link">Selectores de búsqueda</a></li>
        <li><a href="/src/components/tables.html" class="block pb-1 btn-link">Tablas</a></li>
        <li><a href="/src/components/tables-overflow.html" class="block pb-1 btn-link">Tablas responsivas</a></li>
        <li><a href="/src/components/textarea.html" class="block pb-1 btn-link">Textarea</a></li>
        <li><a href="/src/components/toggles.html" class="block pb-1 btn-link">Toggles</a></li>
        <li><a href="/src/components/tooltips.html" class="block pb-1 btn-link">Tooltips</a></li>
    </ul>
</div>